<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Welcome</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>
<body>
<style>
	.top-bar {
		background-color: #333;
		color: #fff;
		padding: 10px;
	}

	.top-bar ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.top-bar li {
		display: inline;
	}

	.top-bar li a {
		color: #fff;
		text-decoration: none;
		padding: 10px;
	}

	.top-bar li a:hover {
		background-color: #555;
	}

</style>
<div class="top-bar">
	<ul>
		<li><a href="buy-card">buy cards</a></li>
		<li><a href="get-my-cards">my cards</a></li>
		<li><a href="my-profile">my profile</a></li>
	</ul>
</div>
	<form th:action="@{/connexion}"
         th:object="${connectForm}" method="POST">
		<fieldset >
			<div >
				<label  for="form-color">Login</label>
				<div >
					<input  id="form-color" type="text"
						placeholder="Username" th:field="*{username}">
				</div>
				<label  for="form-superPower">Password</label>
				<div >
					<input id="form-superPower" type="text"
						placeholder="Password" th:field="*{password}">
				</div>
			</div>
			<div >
				<input type="submit"  class="uk-button uk-button-default" value="Create" />
			</div>

		</fieldset>
	</form>

</body>

</html>