<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Card Information</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

<div th:replace="fragments/header :: header">
    <h1> THIS IS A DEFAULT HEADER</h1>
</div>
<div>
    <h1>User Game Information</h1>
    <p><strong>Login:</strong> <span th:text="${userGameData.login}"></span></p>
    <p><strong>Account:</strong> <span th:text="${userGameData.account}"></span></p>
    <p><strong>Last Name:</strong> <span th:text="${userGameData.lastName}"></span></p>
    <p><strong>Surname:</strong> <span th:text="${userGameData.surName}"></span></p>
    <p><strong>Email:</strong> <span th:text="${userGameData.email}"></span></p>
</div>
</body>
</html>